

:root {
  --main-bg-color: rgb(18, 27, 34);
  --main-green: rgb(0, 223, 137);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#header {
    /* background-color:black; */
    border-bottom: 2px solid var(--main-bg-color)
}
.header6 {
    margin-top: 7px;
    padding: 2px;
}

#gamePage {
    padding-top: 15px;
}

html, #gamePage, register, login, review {
    background-color: aliceblue
}

.gamePageBody {
    background-color: lightblue
}
#platformHead {
    margin-bottom: -8px;
}
.reviewSmall, .reviewLarge {
  margin: 10px;
  padding:10px;
  border: 2px solid black;
}

.reviewEdit:hover {
  cursor: pointer;
  background-color: lightgray;
}

.reviewSmall:hover {
  background-color: skyblue;
  cursor: pointer;
  
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: var(--main-green) !important;
}

#root {
  background-color: var(--main-bg-color) ;
}

#profile-heading {
  color: white;
}

h1, label, .priv {
  color: white
}

.rate {
  color:black
}

html *
{
   font-family: Source Sans Pro !important;
}

#banner-pic {
pointer-events: none;
user-select: none;
}